.header-primary {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.navigation a, a:visited, a:link {
  text-decoration: none;
  font-family: 'Karla';
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
}

.navigation-primary ul {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
}

.navigation li {
  list-style-type: none;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer img {
  aspect-ratio: 9/12;
  width: 200px;
  object-fit: cover;
}
